/**

--------------------------------------------------------------*/
/* Fonts */
:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
}


/* :root { 
  --background-color: #ffffff; 
  --heading-color: #1e4356; 
  --accent-color: #68a4c4; 
  --surface-color: #ffffff; 
  --contrast-color: #ffffff; 
}
 */

/* Nav Menu Colors*/

/* :root {
  --nav-color: #ffffff;  
  --nav-hover-color: #68a4c4; 
  --nav-mobile-background-color: #ffffff; 
  --nav-dropdown-background-color: #ffffff; 
  --nav-dropdown-color: #555555;
  --nav-dropdown-hover-color: #68a4c4;
}
 */


:root[data-theme='light'] {
  --background-color: #ffffea;
  --surface-color: #1e4356;
  --footer-color: #1e4356;
  --default-color: #ffffff;
  --heading-color: #1e4356;
  --footertext-color: #ffffff;
  --contrast-color: #1e4356;
  --background-img-color: #1e4356;
  --accent-color: #ffffea;
  --pagetitle-color: #1e4356;


}

:root[data-theme='dark'] {
  --background-color: #1e4356;
  --default-color: #1e4356;
  --heading-color: #ffffea;
  --surface-color: #ffffea;
  --contrast-color: #ffffff;
  --footer-color: #ffffff;
  --footertext-color: #1e4356;
  --background-img-color: #ffffff;
  --accent-color: #1e4356;
  --pagetitle-color: #ffffff;

}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
  --img-color: #1e4356;
  --red-color: #ff0000;
  --amarelo-color: #a58608;


}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

/* Reset CSS */
* {
  margin: 0;
  /*margem */
  padding: 0px;
  /* preenchimento */
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
  scrollbar-width: thin;/* 
  scrollbar-color: var(--background-color) transparent; */
}


a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

p {
  color: var();
}

.container,
.container-xl {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 500;
  align-items: center;
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  position: relative;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.features-text {
  align-items: center;
  display: flex;
  order: 1;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container p,
.container li {
  color: var(--heading-color);
}

.container h3{
  font-weight: bold;
}




/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  --background-color: rgba(255, 255, 255, 0);
  color: var(--default-color);
  background-color: var(--heading-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;

}

.header .logo {
  line-height: 1;
  display: flex;
  align-items: center;
}

.header .logo img {
  max-height: 32px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  color: var(--nav-color);
}

.navmenu ul {
  color: var(--nav-color);
}

/* Global Header on Scroll
------------------------------*/
.scrolled .header {
  --background-color: #1e4356;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Navmenu - Desktop */
@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: end;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-color);
    padding: 18px 15px;
    font-size: 16px;
    font-family: var(--nav-font);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu li:last-child a {
    padding-right: 0;
  }

  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-hover-color);

  }
}

/* Navmenu - Mobile */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: var(--nav-colo);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
  }

  .navmenu ul {
    display: none;
    list-style: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var(--background-color);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }

  .navmenu a,
  .navmenu a:focus {
    color: white;
    padding: 10px 20px;
    font-family: var(--nav-font);
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
  }

  .navmenu a i:hover,
  .navmenu a:focus i:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    color: darkgrey;
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    transform: rotate(180deg);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 15px;
    right: 15px;
    margin-right: 0;
    z-index: 9999;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
  }

  .mobile-nav-active .navmenu>ul {
    display: block;
  }

}

/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: var(--footertext-color);
  background-color: var(--footer-color);
  font-size: 14px;
  position: relative;
  text-align: center;
  margin-top: 1.5rem
}


.footer .footer-top {
  padding-top: 50px;
}

.footer .social-links {
  justify-content: center;
  display: flex;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 60%;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
  font-size: 16px;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin-right: 10px;
  transition: 0.3s;
  position: relative;
}

.footer .social-links a:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer h4 {
  font-size: 20px;
  font-weight: bold;
  position: center;
  padding-bottom: 15px;
  color: var(--footertext-color);
}

.footer p {
  color: var(--footertext-color);
}


.footer .footer-about a {
  color: var(--heading-color);
  font-size: 24px;
  font-weight: 600;
  font-family: var(--heading-font);
}

.footer .footer-contact p {
  margin-bottom: 5px;
}

.footer .copyright {
  padding: 25px 0;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  text-align: center;
  margin-top: 1.5rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.footer .copyright p {
  margin-bottom: 0;
}

.footer .sitename {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.footer .credits {
  margin-top: 6px;
  font-size: 13px;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: var(--background-color);
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ffffff;
  border-color: var(--accent-color) transparent var(--accent-color) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  align-items: center;
  justify-content: center;
  display: flex;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: var(--contrast-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  color: var(--pagetitle-color);
  padding: 160px 0 80px 0;
  text-align: center;
  position: relative;
}

.page-title:before {
  content: "";
  background-color: color-mix(in srgb, var(--background-colorcolor), transparent 50%);
  position: absolute;
  inset: 0;
}

.page-title h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}

.page-title a{
  color: var(--pagetitle-color);
} 

.page-title .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.page-title .breadcrumbs ol li+li {
  padding-left: 10px;
}

.page-title .breadcrumbs ol li+li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, var(--pagetitle-color), transparent 50%);
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 90px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2:before {
  content: "";
  position: absolute;
  display: block;
  width: 160px;
  height: 1px;
  background: color-mix(in srgb, var(--default-color), transparent 60%);
  left: 0;
  right: 0;
  bottom: 1px;
  margin: auto;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-title p {
  margin-bottom: 0;
}

/*Hero Section*/
.hero {
  width: 100%;
  min-height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
}



.imagem {
  width: 100%;
  min-height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  filter: brightness(25%);
  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
  border-radius: 0 0 50px 50px; /* Arredonda apenas o canto superior esquerdo e o inferior direito */
  margin-left: 0;   /* Margem esquerda */
  margin-right: 0;
}


.hero img {
  position: absolute;
  inset: 0;
  bottom: 50px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero .carousel {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 3;
  font-family: sans-serif;
}

.hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero h2 {
  font-size: 48px;
  font-weight: 700;
  animation: fadeInDown 1s both;
  display: block;
  color: white;
  padding: 100px;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
  margin: 0 0 0 0;
}

.hero p {
  width: 80%;
  margin: 0 auto 30px auto;
  color: white;
  animation: fadeInDown 1s both 0.2s;
  background: rgba(0, 0, 0, 0.075);
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
}

.hero .carousel-control-prev,
.hero .carousel-control-next {
  width: 10%;
}

.hero .carousel-control-next-icon,
.hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

.hero .btn-get-started {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: var(--default-color);
  animation: fadeInUp 1s both 0.4s;
  border: 2px solid var(--accent-color);
}

.hero .btn-get-started:hover {
  background: var(--accent-color);
  color: var(--contrast-color);
  text-decoration: none;
}

.hero .carousel-indicators {
  bottom: -60px;
}

.hero .carousel-indicators li {
  cursor: pointer;
  background: var(--default-color);
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: 0.3;
  transition: 0.3s;
}

.hero .carousel-indicators li.active {
  opacity: 1;
  background: var(--accent-color);
}



@media (min-width: 1024px) {


  .hero .carousel-control-prev,
  .hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 768px),
(max-height: 700px) {
  .hero h2 {
    font-size: 26px;
  }
}

@media (max-width: 650px) {
  .hero {
    padding: 0;
    margin-top: 0;    /* Margem superior */
    margin-right: 0;  /* Margem direita */
    margin-bottom: 0; /* Margem inferior */
    margin-left: 0;   /* Margem esquerda */
  }


}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/*--------------------------------------------------------------
# Featured Services Section
--------------------------------------------------------------*/

.featured-services {
  --cyan-color: #0054a8;
  --orange-color: #9e8600;
  --teal-color: #b84900;
  --red-color: #4812a0;
}

.featured-services .container {
  display: flex;
  align-items: center;
}

.featured-services .service-item {
  background-color: var(--surface-color);
  box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
  height: 100%;
  padding: 40px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 10px;
  border: 0px solid transparent;
}

.featured-services .service-item .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.featured-services .service-item .icon i {
  font-size: 28px;
  transition: 0.5s;
  position: relative;
}

.featured-services .service-item h3 {
  font-weight: 700;
  margin: 10px 0 5px 0;
  font-size: 22px;
  color: var(--footertext-color);
  text-align: center;
}

.featured-services .service-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: var(--footertext-color);
  text-align: center;
}

.featured-services .service-item:hover {
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.1);
}

.featured-services .service-item.item-cyan .icon {
  background-color: color-mix(in srgb, var(--cyan-color) 10%, white 95%);
}

.featured-services .service-item.item-cyan .icon i {
  color: var(--cyan-color);
}

.featured-services .service-item.item-cyan:hover {
  border-color: var(--cyan-color);
}

.featured-services .service-item.item-cyan:hover .icon {
  background-color: var(--cyan-color);
}

.featured-services .service-item.item-cyan:hover .icon i {
  color: var(--contrast-color);
}

.featured-services .service-item.item-orange .icon {
  background-color: color-mix(in srgb, var(--orange-color) 10%, white 95%);
}

.featured-services .service-item.item-orange .icon i {
  color: var(--orange-color);
}

.featured-services .service-item.item-orange:hover {
  border-color: var(--orange-color);
}

.featured-services .service-item.item-orange:hover .icon {
  background-color: var(--orange-color);
}

.featured-services .service-item.item-orange:hover .icon i {
  color: var(--contrast-color);
}

.featured-services .service-item.item-teal .icon {
  background-color: color-mix(in srgb, var(--teal-color) 10%, white 95%);
}

.featured-services .service-item.item-teal .icon i {
  color: var(--teal-color);
}

.featured-services .service-item.item-teal:hover {
  border-color: var(--teal-color);
}

.featured-services .service-item.item-teal:hover .icon {
  background-color: var(--teal-color);
}

.featured-services .service-item.item-teal:hover .icon i {
  color: var(--contrast-color);
}

.featured-services .service-item.item-red .icon {
  background-color: color-mix(in srgb, var(--red-color) 10%, white 95%);
}

.featured-services .service-item.item-red .icon i {
  color: var(--red-color);
}

.featured-services .service-item.item-red:hover {
  border-color: var(--red-color);
}

.featured-services .service-item.item-red:hover .icon {
  background-color: var(--red-color);
}

.featured-services .service-item.item-red:hover .icon i {
  color: var(--contrast-color);
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

.about .content h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding: 10px 0 0 0;
  display: flex;
}

.about .content ul i {
  color: var(--accent-color);
  margin-right: 0.5rem;
  line-height: 1.2;
  font-size: 1.25rem;
}


.about .content p:last-child {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features .features-item {
  color: color-mix(in srgb, var(--default-color), transparent 20%);
}

.features .features-item+.features-item {
  margin-top: 100px;
}

@media (max-width: 640px) {
  .features .features-item+.features-item {
    margin-top: 40px;
  }
}

.features .features-item h3 {
  font-weight: 700;
  font-size: 26px;
}

.features .features-item ul {
  list-style: none;
  padding: 0;
}

.features .features-item ul li {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.features .features-item ul li:last-child {
  padding-bottom: 0;
}

.features .features-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--accent-color);
}

.features .features-item p:last-child {
  margin-bottom: 0;
}

.features-text-reverse {
  align-items: center;
  display: flex;
  order: 1;
}

.features-text {
  align-items: center;
  display: flex;
}


/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
.testimonials .section-header {
  margin-bottom: 40px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  text-align: center;
}

.testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid var(--background-color);
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .stars {
  margin-bottom: 15px;
}

.testimonials .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: color-mix(in srgb, var(--accent-color), transparent 50%);
  font-size: 26px;
  line-height: 0;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  transform: scale(-1, -1);
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .swiper-wrapper {
  height: auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: color-mix(in srgb, var(--default-color), transparent 85%);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--accent-color);
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}


/*--------------------------------------------------------------
# Service Details Section
--------------------------------------------------------------*/
.service-details .service-box {
  background-color: var(--surface-color);
  padding: 20px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.service-details .service-box+.service-box {
  margin-top: 30px;
}

.service-details .service-box h4 {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px solid color-mix(in srgb, var(--default-color), transparent 92%);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.service-details .services-list {
  background-color: var(--surface-color);
}

.service-details .services-list a {
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  background-color: color-mix(in srgb, var(--default-color), transparent 96%);
  display: flex;
  align-items: center;
  padding: 12px 15px;
  margin-top: 15px;
  transition: 0.3s;
}

.service-details .services-list a:first-child {
  margin-top: 0;
}

.service-details .services-list a i {
  font-size: 16px;
  margin-right: 8px;
  color: var(--accent-color);
}

.service-details .services-list a.active {
  color: var(--contrast-color);
  background-color: var(--accent-color);
}

.service-details .services-list a.active i {
  color: var(--contrast-color);
}

.service-details .services-list a:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 95%);
  color: var(--accent-color);
}

.service-details .download-catalog a {
  color: var(--default-color);
  display: flex;
  align-items: center;
  padding: 10px 0;
  transition: 0.3s;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.service-details .download-catalog a:first-child {
  border-top: 0;
  padding-top: 0;
}

.service-details .download-catalog a:last-child {
  padding-bottom: 0;
}

.service-details .download-catalog a i {
  font-size: 24px;
  margin-right: 8px;
  color: var(--accent-color);
}

.service-details .download-catalog a:hover {
  color: var(--accent-color);
}

.service-details .help-box {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  margin-top: 30px;
  padding: 30px 15px;
}

.service-details .help-box .help-icon {
  font-size: 48px;
}

.service-details .help-box h4,
.service-details .help-box a {
  color: var(--contrast-color);
}

.service-details .services-img {
  margin-bottom: 20px;
}

.service-details h3 {
  font-size: 26px;
  font-weight: 700;
}

.service-details p {
  font-size: 15px;
}

.service-details ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.service-details ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.service-details ul i {
  font-size: 20px;
  margin-right: 8px;
  color: var(--accent-color);
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .img {
  border-radius: 8px;
  overflow: hidden;
  filter: brightness(35%);
}

.services .img img {
  transition: 0.6s;
}

.services .details {
  background: color-mix(in srgb, var(--surface-color), transparent 45%);
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding: 30px;
  transition: all ease-in-out 0.3s;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 1);
}

.services .details h3 {
  font-weight: 700;
  margin: 10px 0 15px 0;
  font-size: 22px;
  transition: ease-in-out 0.3s;
  color: var(--footertext-color);
}

.services .details p {
  color: color-mix(in srgb, var(--default-color), transparent 10%);
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .service-item:hover .details h3 {
  color: var(--accent-color);
}

.services .service-item:hover .img img {
  transform: scale(1.2);
}

/*--------------------------------------------------------------
# Pricing Section
--------------------------------------------------------------*/
.pricing .pricing-item {
  background-color: var(--surface-color);
  padding: 60px 40px;
  box-shadow: 0 3px 20px -2px rgba(0, 0, 0, 0.1);
  height: 100%;
  position: relative;
}

.pricing h3 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
}

.pricing h4 {
  font-size: 48px;
  color: var(--accent-color);
  font-family: var(--heading-font);
  font-weight: 400;
}

.pricing h4 sup {
  font-size: 28px;
}

.pricing h4 span {
  color: color-mix(in srgb, var(--default-color), transparent 60%);
  font-size: 18px;
}

.pricing ul {
  padding: 20px 0;
  list-style: none;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  text-align: left;
  line-height: 20px;
}

.pricing ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.pricing ul i {
  color: #059652;
  font-size: 24px;
  padding-right: 3px;
}

.pricing ul .na {
  color: color-mix(in srgb, var(--default-color), transparent 60%);
}

.pricing ul .na i {
  color: color-mix(in srgb, var(--default-color), transparent 60%);
}

.pricing ul .na span {
  text-decoration: line-through;
}

.pricing .buy-btn {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  background-color: var(--background-color);
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 4px;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 60%);
  transition: none;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--heading-font);
  transition: 0.3s;
}

.pricing .buy-btn:hover {
  background: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--contrast-color);
}

.pricing .featured {
  z-index: 10;
}

.pricing .featured .pricing-item {
  background: var(--accent-color);
}

@media (min-width: 992px) {
  .pricing .featured .pricing-item {
    transform: scale(1.02, 1.1);
  }
}

.pricing .featured h3,
.pricing .featured h4,
.pricing .featured h4 span,
.pricing .featured ul,
.pricing .featured ul .na,
.pricing .featured ul i,
.pricing .featured ul .na i {
  color: var(--contrast-color);
}

.pricing .featured .buy-btn {
  background: var(--accent-color);
  color: var(--contrast-color);
  border-color: var(--contrast-color);
}

.pricing .featured .buy-btn:hover {
  background: color-mix(in srgb, var(--background-color), transparent 92%);
}

/*--------------------------------------------------------------
# Blog Posts Section
--------------------------------------------------------------*/
.blog-posts article {
  background-color: var(--surface-color);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.blog-posts .post-img {
  max-height: 240px;
  margin: -30px -30px 15px -30px;
  overflow: hidden;
}

.blog-posts .post-category {
  font-size: 16px;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  margin-bottom: 10px;
}

.blog-posts .title {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 20px 0;
}

.blog-posts .title a {
  color: var(--background-color);
  transition: 0.3s;
}

.blog-posts .title a:hover {
  color: var(--amarelo-color);
}

.blog-posts .post-author-img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.blog-posts .post-author {
  margin-bottom: 5px;
}

.blog-posts .post-date {
  font-size: 14px;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  margin-bottom: 0;
}

.blog-posts p {
  color: var(--background-color);

}

/*--------------------------------------------------------------
# Blog Pagination Section
--------------------------------------------------------------*/
.blog-pagination {
  padding-top: 0;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
}

.blog-pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog-pagination li {
  margin: 0 5px;
  transition: 0.3s;
}

.blog-pagination li a {
  color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid var(--accent-color);
}

.blog-pagination li a.active,
.blog-pagination li a:hover {
  background: var(--accent-color);
  color: var(--contrast-color);
}

.blog-pagination li a.active a,
.blog-pagination li a:hover a {
  color: var(--contrast-color);
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('background.jpg');
  /* Substitua com sua imagem de fundo */
  background-size: cover;
  background-position: center;
}

.contact-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
  font-size: 24px;
  color: #1f4e79;
  margin-bottom: 15px;
}

.contact-container p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

/* Formulário */
form label {
  display: block;
  font-size: 14px;
  color: #1f4e79;
  margin-top: 15px;
  text-align: left;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  background-color: #1f4e79;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  /*   transition: background 0.3s; */
}

form button:hover {
  background-color: #164168;
}

/* Mensagem de resposta */
.response-message {
  margin-top: 20px;
  font-size: 16px;
  color: #1f4e79;
}


#dicas {
  padding: 20px;
  background-color: #f3f3f3;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#dicas h2 {
  font-size: 2em;
  color: #005fa3;
  margin-bottom: 20px;
  text-align: center;
}

.dica-container,
.ferramenta-container {
  margin-bottom: 20px;
}


.dica-container h3,
.ferramenta-container h3 {
  font-size: 1.5em;
  color: #1e4356;
  margin-bottom: 15px;
  border-bottom: 2px solid #1e4356;
  padding-bottom: 5px;
}

.dica-item,
.ferramenta-item {
  margin-top: 10px;
  padding: 15px;
  background-color: var(--red-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Estilo geral para a seção de ferramentas */
.ferramenta-container {
  max-width: 800px;
  margin: 0 auto; /* Centraliza a div na página */
  padding: 20px;
  background-color: #f9f9f9; /* Fundo suave */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  font-family: 'Arial', sans-serif;
}

/* Estilo do título principal */
.ferramenta-container h3 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Estilo para cada item de ferramenta */
.ferramenta-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.ferramenta-item {
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.ferramenta-item img {
  width: 60px; /* Tamanho da logo */
  height: 60px;
  margin-right: 10px; /* Espaço entre a imagem e o texto */
  border-radius: 8px; /* Bordas suaves para o visual */
}


.ferramenta-item h4 {
  font-size: 20px;
  margin: 0 0 5px 0;
  color: #1e4356;
  margin-bottom: 10px;
}


/* Parágrafo descritivo */
.ferramenta-item p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  text-align: center;
}

/* Efeito hover nos itens */
.ferramenta-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Pequena margem entre os itens e o final da seção */
.ferramenta-item:last-child {
  margin-bottom: 0;
}

.ferramenta-extra {
  margin-top: 20px;
  font-size: 16px;
}

.ferramenta-extra p{
  color: var(--background-color);
}
.ferramenta-extra ul {
  list-style-type: disc;
  margin-left: 20px;
  color: var(--background-color);
}

.ferramenta-extra ul li {
  margin-bottom: 5px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 600px) {
  .ferramenta-container {
    padding: 15px;
  }

  .ferramenta-container h3 {
    font-size: 20px;
  }

  .ferramenta-item h4 {
    font-size: 18px;
  }

  .ferramenta-item p {
    font-size: 14px;
  }
  .ferramenta-item {
    flex-direction: column; /* Coloca logo e texto em coluna para telas pequenas */
    align-items: flex-start;
  }

  .ferramenta-item img {
    margin-bottom: 10px; /* Espaço entre a logo e o texto na vertical */
  }
}

.ferramenta-extra {
  margin-top: 20px;
  font-size: 16px;
}

.ferramenta-extra p{
  color: #1e4356;
}
.ferramenta-extra ul {
  list-style-type: disc;
  margin-left: 20px;
  color: #1e4356;
}

.ferramenta-extra ul li {
  margin-bottom: 5px;
}